.cards {
    display: block;
    margin: 0 auto;
    &__third { 
        margin-top: -140px; 
    }

    &__second { 
        margin-top: -140px;
        margin-left: 135px; 
    }

    &__card, &__card-one {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 180px;
        height: 180px;
        transform: rotate(45deg);
        margin: 44px;
        background-color: #fff;
        color: #474747;
        z-index: 1;
        border: none;
    }


    &__img {
        position: relative;
        transform: rotate(-45deg) scale(1.4);
        z-index: 2;
        padding-top: 50px;
        padding-left: 18px;
        border: none;
        &_nopadding {
            padding: 0;
            width: 100%;
        }
    }
    &__text, &__text-one {
        position: relative;
        transform: rotate(-45deg);
        font-size: 13px;
        padding-left: 30px;
        text-align: center;
        font-family: 'Proximanova';
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        z-index: 3;
        display: none;
        transition: 0.3s all;
}

    &__text-one {
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-left: 15px;
    }

    &__card-one {
        transition: 0.5s background-color, box-shadow;
        &:hover {
            background-color: #28282e;
            cursor: pointer;
            color: #ffffff; 
            box-shadow: 3px 3px 20px #28282e;
        }
    }
    &__card {
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px #ef4035;
        }
        &:hover .cards__text {
            display: flex;
            flex-direction: column;
            background-color: #ef4035;
            opacity: 0.9;
            margin-top: -105px;
            width: 272px;
            padding: 14px 0 100px 17px;
            color: #fff;
            font-size: 13px;
            text-transform: none;
            div {
                text-align: center;
                font-weight: 700;
                line-height: 18px;
                text-transform: uppercase;
            }
        }
    }
}