.title {
    margin: 0;
    color: #333333;
    font-family: "OpenSans";
    font-size: 53px;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.53px; 
    text-align: center;
    &_white {
            color: #fff;
            text-align: start;
    }
    
}