.works {
    padding: 121px 0 108px 0;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__text {
        color: #888888;
        font-family: 'Proximanova';
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        padding-top: 20px;
    }

}